<ng-container *ngIf="selectedTorihikisaki$ | async as selectedTorihikisaki">
  <div class="modal modal-open" (click)="closePopup()">
    <div class="modal-box max-w-3xl" (click)="$event.stopPropagation()">
      <div class="modal-header">
        <h3 class="font-bold text-lg">取引先詳細</h3>
      </div>
      <dl class="detail-grid">
        <dt>取引先コード</dt><dd>{{ selectedTorihikisaki.torihikisakiCd }}</dd>
        <dt>取引先名</dt><dd>{{ selectedTorihikisaki.torihikisakiMei }}</dd>
        <dt>インボイス登録番号</dt><dd>{{ selectedTorihikisaki.invoiceRegistrationNumber }}</dd>
        <dt>郵便番号</dt><dd>{{ selectedTorihikisaki.postalCode }}</dd>
        <dt>住所</dt><dd>{{ selectedTorihikisaki.address }}</dd>
        <dt>担当者名</dt><dd>{{ selectedTorihikisaki.tanto }}</dd>
        <dt>タグ</dt><dd>{{ selectedTorihikisaki.tags }}</dd>
        <dt>メールアドレス</dt><dd>{{ selectedTorihikisaki.email }}</dd>
        <dt>取引形態</dt><dd>{{ selectedTorihikisaki.torihikiKeitai }}</dd>
        <dt>消費税計上</dt><dd>{{ selectedTorihikisaki.utizeiSotozei }}</dd>
      </dl>
      <div class="modal-action">
        <button type="button" class="btn" (click)="closePopup()">閉じる</button>
      </div>
    </div>
  </div>
</ng-container>
